body {
  background-color: #7F7378;
}

h2 {
  font-size: 3rem;
  font-family: 'Archivo Black', sans-serif;
}

/** Navigation **/
.navigation {
  background-color: #332E30;
}
nav.main-nav .nav-item {
  transition: background-color 2s ease;
}
nav.main-nav .nav-item:hover {
  background-color: #40393C;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
nav.main-nav .nav-link {
  font-size: 1.4rem;
  color: #BFACB4;
  font-family: 'Raleway', sans-serif;
}

/**News Articles**/
#newsDiv {
  background-color: #BFACB4;
}

#newsDiv img {
  width: 40%;
  border: 6px solid #332E30;
  -webkit-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  transition: transform .3s ease;
}

#newsDiv img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#newsDiv a {
  align-self: flex-start;
  color: #332E30;
}
